{% for dc in dataclasses  %}export interface I{{ dc.name }} {
  _key?: {{ dc.keyType }};{% for attr in dc.attributes %}
  {{ attr.name }}: {{ attr.type }};{% endfor %}
  save(): void;
  delete(): void;{% for m in dc.methods %}{% if m.applyTo === 'entity' %}
  {{ m.name }}(): void;{% endif %}{% endfor %}
}
{% endfor %}
